@media only screen  and (max-width:960px ){
   
}  

.container{
    margin-top: 2%;
}
.card-panel{
    text-align: center;
    font-family: 'Baloo Bhaina 2', cursive;
    
  
}
.card{
    text-align: center;
   font-family: 'Noto Sans', sans-serif;

}