@media only screen  and (max-width:960px ){
   
}  

.container{
    margin-top: 20%;
    padding-top: 15%;
}
.card-panel{
    text-align: center;
    font-family: 'Baloo Bhaina 2', cursive;
    
  
}
.card{
    text-align: center;
   font-family: 'Noto Sans', sans-serif;

}

footer{
    position:fixed;
    bottom:0;
    width:100%;
    height:10%;
    margin-top:5%;
    padding-top:10%;
}

/* nav{
    position:fixed;
    top:0;
    z-index:1;

    margin-bottom:10%;
} */