@media only screen  and (max-width:960px ){
   
}  

#current{
    border: 1px solid black;
    background: linear-gradient(#e66465, #16cae2);
    display:float;
    justify-content: center;
    align-items: center;
}
.card-panel{
    text-align: center;
}
.card{
    text-align: center;
}